@import "mixins";

.bg-primary {
  &-red2 {
    background-color: #ff5250;
  }
  &-blue4 {
    background-color: #d7f3ff;
  }
  &-blue1 {
    background-color: #276ae3;
  }
  &-light {
    background-color: #fff;
  }
}
.primary {
  &-red2 {
    color: #ff5250;
  }
  &-blue4 {
    color: #d7f3ff;
  }
  &-blue1 {
    color: #276ae3;
  }
  &-gray2 {
    color: #4f4f4f;
  }
  &-light {
    color: #fff;
  }
}
.ss {
  padding: 65px 0;
  color: #18191f;
  background-color: #f4f5f7;
  .container {
    width: calc(100% - 330px);
    @include respond-tabLand {
      width: calc(100% - 50px);
    }
    @include respond-phone {
      width: calc(100% - 30px);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Inter", sans-serif;
      margin: 0;
      padding: 0;
    }

    p,
    a,
    li,
    div,
    span {
      font-size: 18px;
      line-height: 32px;
      font-family: "Inter", sans-serif;
    }
    a,
    .btn__link {
      display: block;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .btn__link {
      font-size: 16px;
      line-height: 24px;
    }
    p {
      margin: 0 !important;
      @include respond-phone {
        font-size: 15px;
        line-height: 26px;
      }
    }
    h1 {
      font-size: 54px;
      line-height: 64px;
      @include respond-tabPort {
        font-size: 38px;
        line-height: 54px;
      }
      @include respond-phone {
        font-size: 28px;
        line-height: 40px;
      }
      @include respond-super-mini-phone {
        font-size: 24px;
        line-height: 38px;
      }
    }
    h2 {
      font-size: 48px;
      line-height: 64px;
      font-weight: 800;
      text-align: center;
      @include respond-tabPort {
        font-size: 38px;
        line-height: 54px;
      }
      @include respond-phone {
        font-size: 28px;
        line-height: 40px;
      }
      @include respond-super-mini-phone {
        font-size: 24px;
        line-height: 38px;
      }
    }
    h3 {
      font-size: 24px;
      line-height: 32px;
      @include respond-phone {
        font-size: 18px;
        line-height: 28px;
      }
    }
    h5 {
      font-size: 24px;
      line-height: 32px;
      @include respond-phone {
        font-size: 18px;
        line-height: 28px;
      }
    }
    h6 {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      @include respond-phone {
        font-size: 18px;
        line-height: 26px;
      }
    }
    .content {
      &__head {
        max-width: 600px;
        &.uppercase {
          text-transform: uppercase;
          h2 {
            font-size: 40px;
            line-height: 64px;
          }
        }
      }
      &__btns {
        width: 100%;
        @include respond-phone {
          .flex {
            justify-content: center;
          }
        }
        .btn {
          min-width: 100px;
          padding: 12px 32px;
          text-align: center;
          border-radius: 6px;
          @include respond-tabPort {
            padding: 10px 15px;
            font-size: 16px;
          }
          @include respond-phone {
            padding: 5px 15px;
            font-size: 14px;
          }
        }
      }
      &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        @include respond-tabLand {
          grid-template-columns: repeat(2, 1fr);
        }
        @include respond-phone {
          grid-template-columns: repeat(1, 1fr);
        }
        .card {
          border-radius: 6px;
          padding: 16px;
          box-shadow: 0 10px 20px rgba(41, 44, 42, 0.07);
          background-color: #fff;
          p {
            font-size: 16px;
            line-height: 26px;
          }
          .flex.flex-column {
            height: 100%;
            justify-content: space-between;
          }
          &__icon {
            @include respond-phone {
              height: 62px;
              img {
                height: 100%;
              }
            }
          }
        }
      }
      &__boxs {
        .flex {
          justify-content: center;
        }
      }
    }
  }
}
#dao-tao-body {
  margin: 0;
  .ss {
    &__head {
      padding: 0;
      .banners .banner {
        padding-top: 165px;
        height: 700px;
        @include respond-tabLand {
          padding-top: 100px;
          height: 580px;
        }
        @include respond-tabPort {
          padding-top: 55px;
          height: 500px;
        }
        &.banner-1 {
          background: url("banner-1.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: bottom;
        }
        &.banner-2 {
          background: url("banner-2.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: right;
        }
        a {
          color: #fff;
        }
        .btn__link {
          &:last-child {
            border: #276ae3 1px solid;
            color: #276ae3;
          }
          &:hover {
            transition: 0.3s all ease-out;
            text-decoration: underline;
          }
        }
        .content {
          max-width: 600px;
          @include respond-tabPort {
            width: 450px;
            margin-top: 0;
          }
          @include respond-phone {
            width: 100%;
          }
          &__img {
            max-width: 100%;
            height: 480px;
            img {
              width: 100%;
              height: 100%;
            }
            @include respond-tabLand {
              width: calc(100% - 50px);
              height: calc(100% - 50px);
              img {
                width: 90%;
                height: 90%;
                margin-left: auto;
              }
            }

            @include respond-phone {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 70%;
                margin: 32px auto;
              }
            }
          }
        }
      }
    }
    &__dvtt {
      padding-top: 0;
      background-color: #fff;
      .content {
        &__logos {
          width: 877px;
          @include respond-tabPort {
            width: 100%;
          }
          .grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            list-style: none;
            align-items: center;
            text-align: center;
            @include respond-tabPort {
              gap: 5px;
              padding-left: 0px;
            }
            @include respond-phone {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
      }
    }
    &__why-choose {
      .content {
        &__cards {
          grid-template-columns: repeat(3, 1fr);
          @include respond-tabPort {
            grid-template-columns: 1fr;
          }
          .card {
            @include respond-tabPort {
              .row {
                display: flex;
              }
            }
            @include respond-phone {
              .row {
                flex-direction: column;
              }
            }
            &__image {
              width: 200px;
              height: 160px;
              @include respond-tabPort {
                width: 400px;
              }
              @include respond-phone {
                width: 160px;
                height: 120px;
              }
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        &__text {
          padding: 32px 0;
          @include respond-tabPort {
            width: 100%;
            text-align: left;
            padding: 16px;
          }
          @include respond-phone {
            text-align: center;
          }
          h5 {
            margin-bottom: 10px !important;
          }
          p {
            font-size: 16px;
            line-height: 28px;
          }
        }
      }
    }
    &__video {
      iframe {
        width: 691px;
        height: 390px;
        @include respond-tabPort {
          width: 100%;
          height: 280px;
        }
      }
    }
    &__dao-tao {
      .content {
        &__head {
          width: 700px;
          @include respond-phone {
            width: 100%;
          }
        }
        &__cards {
          width: 100%;
          grid-template-columns: repeat(3, 1fr);
          justify-content: center;
          row-gap: 15px;
          &.mb {
            display: none;
          }
          @include respond-phone {
            &.desk {
              display: none;
            }
            &.mb {
              display: grid;
            }
            grid-template-columns: repeat(1, 1fr);
          }
          & > .row {
            grid-column: 1 / span 3;
            grid-row: 3;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            width: 730px;
            margin: auto;
            row-gap: 0;
            @include respond-tabPort {
              width: 500px;
            }
          }
          .card {
            padding: 40px 32px;
            &__image {
              width: 114px;
              height: 50px;
              margin-bottom: 56px;
              @include respond-tabPort {
                margin-bottom: 32px;
              }
              img {
                width: 100%;
              }
            }
            &__text {
              h5 {
                margin-bottom: 16px;
              }
            }
          }
        }
      }
    }
    &__khoa-hoc {
      height: 780px;
      background: url("Cover-Image.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;
      position: relative;
      background-color: #f4f5f7;
      @include respond-phone {
        height: 580px;
      }
      .box {
        width: 540px;
        background-color: #fff;
        position: absolute;
        top: 300px;
        right: 165px;
        @include respond-tabPort {
          width: 380px;
          top: 165px;
          right: 16px;
        }
        @include respond-phone {
          top: 200px;
          right: 0;
          width: 100%;
        }
        .content {
          padding: 64px;
          box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
          @include respond-tabPort {
            padding: 32px 40px;
          }
          &__head {
            margin-bottom: 32px;
            h3 {
              font-size: 40px;
              line-height: 54px;
              @include respond-tabPort {
                font-size: 30px;
                line-height: 40px;
              }
            }
          }
          &__text {
            .price {
              font-size: 48px;
              font-weight: 700;
              margin-bottom: 32px !important;
              @include respond-tabPort {
                font-size: 35px;
              }
            }
            p,
            li {
              font-size: 18px;
            }
            ul {
              margin-top: 0;
              margin-bottom: 40px;
            }
            .row {
              align-items: center;
              .btn__link {
                font-size: 18px;
              }
              .intro-view {
                margin-left: 32px;
                .intro_icon {
                  font-size: 48px;
                  .fa-play-circle {
                    animation: intro 5s infinite;
                    animation-timing-function: ease-out;
                  }
                  &:hover {
                    .fa-play-circle {
                      color: #ff5250;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &__diem-noi-bat {
      padding-top: 0;
      .content {
        &__head {
          width: 540px;
          margin-bottom: 32px;
          @include respond-phone {
            width: 90%;
          }
          h2 {
            text-align: left;
          }
        }
        &__cards {
          grid-template-columns: 1fr 1fr;
          @include respond-phone {
            grid-template-columns: 1fr;
          }
          .card {
            &__image {
              margin-right: 30px;
            }
            &__text {
              h5 {
                margin-bottom: 16px;
              }
            }
          }
        }
      }
    }
    &__ky-nang {
      background-color: #f5f5f5;
      .content {
        &__head {
          width: 540px;
          @include respond-phone {
            width: 100%;
          }
        }
        &__cards {
          grid-template-columns: repeat(3, 1fr);
          @include respond-phone {
            grid-template-columns: 1fr;
          }
          .card {
            text-align: center;
            // background-color: #fff;
            &__image {
              margin-bottom: 16px;
            }
            &__text {
              h5 {
                margin-bottom: 16px;
              }
            }
          }
        }
      }
    }
    &__chuong-trinh-hoc {
      .content__head {
        h2 {
          text-align: left;
        }
      }
    }
    &__chuong-trinh-hoc,
    &__cau-hoi {
      .content {
        &__head {
          max-width: 700px;
          h2 {
            text-align: center;
          }
        }
        &__collapse {
          max-width: 850px;
          .accordion-contianer {
            border: 3px solid #f5f5f5;
            margin-bottom: 24px;
            border-radius: 21px;
          }
          .accordion {
            background-color: #fff;
            color: #001a49;
            font-weight: 600;
            cursor: pointer;
            padding: 18px 40px;
            width: 100%;
            text-align: left;
            transition: 0.4s;
            font-size: 20px;
            line-height: 24px;
            border-radius: 21px;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn {
              width: 48px;
              height: 48px;
              background: rgba(86, 204, 242, 0.2);
              mix-blend-mode: normal;
              border-radius: 99px;
              // margin-left: 32px;
              .fa-angle-down {
                font-size: 20px;
                transition: 0.5s all ease-in-out;
              }
            }
            &.active {
              border-radius: 21px 21px 0 0;
              .fa-angle-down {
                transform: rotate(180deg);
                transition: 0.5s all ease-in-out;
              }
              & + .panel {
                border-radius: 0 0 21px 21px;
              }
            }
          }
          .panel {
            padding: 0 40px 18px;
            background-color: white;
            display: none;
            overflow: hidden;
            p,
            li {
              font-size: 16px;
            }
            ol {
              padding-left: 16px;
            }
          }
        }
      }
    }
    &__khoa-seo {
      min-height: 700px;
      background: url("BG.png");
      background-repeat: no-repeat;
      background-size: contain;
      @include respond-phone {
        background-repeat: repeat;
      }
      .content {
        .row {
          @include respond-phone {
            flex-direction: column;
          }
          .col-left {
            width: 480px;
            @include respond-tabPort {
              width: 270px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
            @include respond-phone {
              width: 100%;
              .content__image {
                display: none;
              }
            }
            .content__head {
              margin-bottom: 24px;
              h2 {
                font-size: 40px;
                line-height: 54px;
                text-align: left;
              }
            }
          }
          .col-right {
            margin-left: 30px;
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            @include respond-phone {
              margin: 0;
            }
            .box {
              padding: 48px;
              &.bg-gray {
                background: #e0e0e0;
              }
              &.bg-light {
                background: #f3f3f3;
              }
              .content__text {
                h3 {
                  font-size: 18px;
                  line-height: 24px;
                }
                p {
                  font-size: 14px;
                  line-height: 24px;
                }
              }
            }
          }
        }
      }
    }
    &__diem-doc-nhat {
      background: linear-gradient(
        89.1deg,
        #2ad5ff -12.35%,
        #22cfff -9.35%,
        #0fc2ff -0.28%,
        #04baff 9.07%,
        #00b7ff 19.03%,
        #276ae3 56.53%,
        #4269e3 77.95%,
        #5868e3 99.36%
      );
      .content {
        &__head {
          width: 500px;
          @include respond-phone {
            width: 100%;
          }
        }
        &__cards {
          grid-template-columns: repeat(3, 1fr);
          @include respond-phone {
            grid-template-columns: 1fr;
          }
          .card {
            background-color: #fff;
            padding: 40px 32px;
            &__image {
              margin-bottom: 54px;
            }
            &__text {
              h5 {
                margin-bottom: 16px;
              }
            }
          }
        }
      }
    }
    &__chuyen-gia {
      // padding-bottom: 86px;
      .content {
        &__head {
          max-width: 600px;
          h2 {
            text-align: left;
          }
        }
        &__image {
          width: 474px;
          height: 560px;
          margin-left: 40px;
          img {
            width: 100%;
            height: 100%;
          }
          @include respond-tabLand {
            width: calc(100% - 74px);
            height: calc(100% - 30px);
          }
          @include respond-tabPort {
            width: 300px;
            height: 350px;
            margin: auto;
          }
        }
        &__text {
          margin-right: 30px;
          @include respond-tabPort {
            margin-right: 0;
            padding: 32px;
          }
          &-head {
            h3 {
              font-size: 40px;
              line-height: 54px;
            }
            p {
              font-size: 32px;
              line-height: 40px;
            }
            @include respond-tabPort {
              h3 {
                font-size: 34px;
                line-height: 45px;
              }
              p {
                font-size: 25px;
                line-height: 32px;
              }
            }
          }
        }
      }
      .slick-dots {
        bottom: -50px;
        li {
          button {
            width: 15px;
            height: 15px;
            border-radius: 99px;
            &::before {
              width: 15px;
              height: 15px;
              font-size: 8px;
              line-height: 18px;
              color: #276ae3;
              opacity: 1;
            }
          }
          &.slick-active {
            button {
              border: 3px solid #5868e3;
              &::before {
                color: transparent;
              }
            }
          }
        }
      }
      .slick-prev:before,
      .slick-next:before {
        color: #5868e3;
        font-size: 30px;
      }
      @include respond-tabLand {
        .slick-prev {
          left: 0;
        }
        .slick-next {
          right: 0;
        }
      }
      @include respond-tabPort {
        .list-chuyen-gia {
          .chuyen-gia {
            .flex {
              flex-direction: column;
              .col-6 {
                width: 100%;
              }
            }
          }
        }
      }
    }
    &__khach-hang {
      background-color: #f4f5f7;
      .container {
        .content {
          &__head {
            p {
              margin: 10px auto !important;
              text-align: center;
            }
          }
          &__customer-logos {
            .item {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 170px;
              height: 96px;
              margin: 12px;
              background: #ffffff;
              box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
              border-radius: 16px;
              filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
            }
            .flex {
              align-items: center;
              justify-content: center;
            }
            .mb {
              display: none;
            }
            @include respond-tabPort {
              .flex {
                display: none;
              }
              .grid.mb {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;
                .item {
                  width: 100%;
                  margin: 0;
                }
              }
            }
            @include respond-phone {
              .grid.mb {
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;
                .item {
                  &:last-child {
                    width: 50%;
                    margin: auto;
                    grid-area: 5 / 1 / 6 / 3;
                  }
                }
              }
            }
          }
          &__btns {
            text-align: center;
            a {
              display: inline-block;
              color: #fff;
            }
          }
        }
        .slick-dots {
          bottom: -50px;
          li {
            button {
              width: 15px;
              height: 15px;
              border-radius: 99px;
              &::before {
                width: 15px;
                height: 15px;
                font-size: 8px;
                line-height: 18px;
                color: #276ae3;
                opacity: 1;
              }
            }
            &.slick-active {
              button {
                border: 3px solid #5868e3;
                &::before {
                  color: transparent;
                }
              }
            }
          }
        }
        .slick-prev:before,
        .slick-next:before {
          color: #5868e3;
          font-size: 30px;
        }
        @include respond-tabLand {
          .slick-prev {
            left: 0;
          }
          .slick-next {
            right: 0;
          }
        }
        @include respond-tabPort {
          .list-chuyen-gia {
            .chuyen-gia {
              .flex {
                flex-direction: column;
                .col-6 {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    &__cam-nhan {
      padding-bottom: 86px;
      background: linear-gradient(
        80.86deg,
        #2ad5ff -16%,
        #22cfff -13.13%,
        #0fc2ff -4.48%,
        #04baff 4.45%,
        #00b7ff 13.95%,
        #276ae3 49.75%,
        #4269e3 70.19%,
        #5868e3 90.64%
      );
      .content {
        position: relative;
        &::before {
          content: "";
          width: 146px;
          height: 149px;
          background: url("hoc-vien-arrow.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          right: -20px;
          top: -5px;
          @include respond-tabLand {
            right: -10px;
          }
          @include respond-phone {
            width: 100px;
            height: 100px;
            top: 60px;
            right: 10px;
          }
        }
        &::after {
          content: "";
          width: 146px;
          height: 130px;
          background-color: #5868e3;
          opacity: 0.7;
          position: absolute;
          right: -20px;
          top: -5px;
          @include respond-tabLand {
            right: -10px;
          }
          @include respond-phone {
            width: 100px;
            height: 100px;
            top: 60px;
            right: 10px;
          }
        }
        &__head {
          h2 {
            text-align: left;
          }
        }
        .cmts {
          z-index: 9;
          .cmt {
            &__text {
              min-height: 132px;
              background-color: #fff;
              box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
              border-radius: 10px;
              padding: 54px;
              position: relative;
              margin-bottom: 32px;
              @include respond-tabLand {
                min-height: 140px;
              }
              @include respond-tabPort {
                min-height: 252px;
              }
              p {
                font-size: 16px;
                line-height: 24px;
                text-align: center;
              }
              &::after {
                content: "";
                width: 24px;
                height: 24px;
                background-color: #fff;
                position: absolute;
                bottom: -12px;
                left: 50%;
                transform: rotate(45deg);
                border-radius: 3px;
              }
            }
            &__er {
              .flex {
                justify-content: center;
                align-items: center;
              }
              .logo-er {
                width: 56px;
                height: 56px;
                img {
                  border-radius: 99px;
                  width: 100%;
                }
              }
            }
          }
          .slick-dots {
            bottom: -50px;
            li {
              button {
                width: 15px;
                height: 15px;
                border-radius: 99px;
                &::before {
                  width: 15px;
                  height: 15px;
                  font-size: 8px;
                  line-height: 18px;
                  color: #fff;
                  border-radius: 99px;
                  opacity: 1;
                }
              }
              &.slick-active {
                button {
                  border: 3px solid #fff;
                  &::before {
                    color: transparent;
                  }
                }
              }
            }
          }
          .slick-prev:before,
          .slick-next:before {
            color: #fff;
            font-size: 30px;
          }
          @include respond-tabLand {
            .slick-prev {
              left: -10px;
            }
            .slick-next {
              right: 0;
            }
          }
        }
      }
    }
    &__chung-nhan-gtv {
      padding-bottom: 0;
      .content {
        &__head {
          max-width: 100%;
          .flex {
            justify-content: space-between;
            align-items: center;
            @include respond-phone {
              flex-direction: column;
              h2,
              p {
                width: 100%;
                text-align: center;
              }
            }
          }
          h2 {
            max-width: 400px;
            text-align: left;
          }
          p {
            max-width: 540px;
          }
        }
        &__image {
          img {
            width: 100%;
          }
        }
      }
    }
    &__uu-dai {
      .content {
        &__head {
          width: 600px;
          @include respond-phone {
            width: 100%;
          }
        }
        &__text {
          max-width: 480px;
          @include respond-tabPort {
            width: 100%;
          }
          .text-head {
            margin-right: 16px !important;
            font-size: 34px;
            line-height: 44px;
            color: #3d3d3d;
            @include respond-tabPort {
              font-size: 24px;
              line-height: 34px;
            }
          }
          .sub-tip {
            background: linear-gradient(267.42deg, #f6895e 0%, #f9ab81 100%);
            display: flex;
            align-items: center;
            text-align: center;
            padding: 0 6px;
            border-radius: 6px;
          }
          .text {
            font-size: 24px;
            line-height: 32px;
            @include respond-tabPort {
              font-size: 20px;
              line-height: 34px;
            }
          }
        }
        &__price {
          max-width: 400px;
          @include respond-tabPort {
            width: 100%;
          }
          .cost {
            text-decoration: line-through;
            color: #c0c0c0;
            font-size: 28px;
            line-height: 54px;
            @include respond-tabPort {
              font-size: 24px;
              line-height: 34px;
            }
          }
          .discount {
            font-size: 40px;
            line-height: 54px;
            color: #de1010;
            font-weight: 600;
            margin: 24px 0;
            @include respond-tabPort {
              font-size: 34px;
              line-height: 44px;
            }
          }
          .btn__link {
            width: 215px;
            font-size: 20px;
            line-height: 46px;
            text-align: center;
            border-radius: 6px;
          }
        }
        .box {
          padding: 56px;
          box-shadow: 0 10px 20px rgba(41, 44, 42, 0.07);
          @include respond-tabPort {
            padding: 24px;
          }
          @include respond-phone {
            flex-direction: column;
          }
        }
      }
    }
    &__dang-ky-khoa {
      background: #276ae3;
      .content {
        &__head {
          width: 400px;
          text-align: center;
          font-size: 28px;
          @include respond-tabPort {
            width: 100%;
          }
        }
        &__count-down {
          .time {
            width: 140px;
            min-height: 160px;
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .t {
              font-size: 65px;
            }
            span {
              margin-top: 20px;
              font-size: 20px;
            }
          }
          .divider {
            font-size: 50px;
          }
          #timer {
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
        }
        @include respond-phone {
          .flex {
            flex-direction: column;
            .col-6 {
              width: 100%;
            }
          }
        }
      }
    }
    &__chinh-phuc {
      .content {
        &__head {
          width: 540px;
          @include respond-phone {
            width: 100%;
          }
        }
      }
    }

    &__map {
      background-color: #e3eef8;
    }
  }
  .modal {
    display: none;
    cursor: pointer;
    transition: 0.5s;
    position: fixed;
    z-index: 1;
    padding-top: 165px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    @include respond-tabLand {
      padding-top: 30%;
    }
    @include respond-tabPort {
      padding-top: 25%;
    }
    @include respond-phone {
      padding-top: 50%;
    }
    &__content {
      margin: auto;
      width: 800px;
      max-height: 700px;
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
      @include respond-phone {
        width: 100%;
        max-width: 400px;
      }
    }
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
      &:hover,
      &:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .owl {
      &-nav {
        @include respond-phone {
          display: none;
        }
        button {
          position: absolute;
          top: 50%;
          width: 50px;
          height: 50px;
          border-radius: 6px;
          background-color: #0b0d17;

          span {
            color: white;
            font-size: 40px;
          }
        }
      }
      &-prev {
        left: -200px;
        @include respond-tabLand {
          left: -100px;
        }
        @include respond-tabPort {
          left: -35px;
        }
      }
      &-next {
        right: -200px;
        @include respond-tabLand {
          right: -100px;
        }
        @include respond-tabPort {
          right: -35px;
        }
      }
    }
  }

  @keyframes intro {
    0% {
      color: #276ae3;
    }
    25% {
      color: #ff5250;
    }
    50% {
      color: #276ae3;
    }
    75% {
      color: #ff5250;
    }
    100% {
      color: #276ae3;
    }
  }
}
